@tailwind base;
@tailwind components;
@tailwind utilities;

/* Video browser grid */
.video-grid {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 1030px) {
  .video-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* 1030 + 320 + 16 */
@media (min-width: 1366px) {
  .video-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1702px) {
  .video-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/**
 * Theatre mode video player that tries to use up a 
 * a big area while keeping aspect ratio
 */

.player {
  max-height: calc(100vh - 120px);
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

.embed .plyr,
.player .plyr {
  width: 100%;
  height: 100%;
}

.html-content a {
  @apply text-blue-700 underline;
}

.html-content a:active {
  @apply text-red-700 underline;
}

.fade-out-text {
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - var(--mask-height, 2em)),
    rgba(0, 0, 0, 0) 100%
  );
}
